@using System.Web.Mvc
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Forms.Core
@using EPiServer.Forms.Core.Models
@using EPiServer.Forms.Helpers
@using EPiServer.Forms.Samples.Implementation.Elements
@using EPiServer.Forms.Samples.EditView

@model DateTimeElementBlock

@{
    var formElement = Model.FormElement;
    var labelText = Model.Label;
}

<div class="Form__Element Form__CustomElement FormDateTime @Model.GetValidationCssClasses()" data-epiforms-element-name="@formElement.Code">
    <label for="@formElement.Guid" class="Form__Element__Caption">@labelText</label>
    <input name="@formElement.Code" id="@formElement.Guid" type="text" class="Form__CustomInput FormDateTime__Input"
           placeholder="@Model.PlaceHolder" value="@Model.PredefinedValue" @Html.Raw(formElement.AttributesString) />

    <span data-epiforms-linked-name="@formElement.Code" class="Form__Element__ValidationError" style="display: none;">*</span>

    @if (!EPiServer.Editor.PageEditing.PageIsInEditMode)
    {
        // push this Element information to a global blob. Then Samples.js will init them all at once.
        var pickerType = ((DateTimePickerType)Model.PickerType).ToString().ToLower();
        <script type="text/javascript">
            var __SamplesDateTimeElements = __SamplesDateTimeElements || [];
            __SamplesDateTimeElements.push({
                guid: "@formElement.Guid",
                pickerType: "@pickerType"
            });
        </script>
    }
</div>
